.notes {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
}


@media screen and (max-width: 1024px) {
    .notes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .notes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 425px) {
    .notes {
        grid-template-columns: 1fr;
    }
}
